<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>NgFormly Validation</span>
  </mat-toolbar-row>
</mat-toolbar>

<div>
  <form [formGroup]="contactForm" (ngSubmit)="submitForm(contactModel)">
    <formly-form [model]="contactModel" [fields]="contactFields" [form]="contactForm">
      <button [disabled]="contactForm.invalid" type="submit" mat-raised-button>Submit Form</button>
    </formly-form>
  </form>
</div>

<div class="code">
  <h1>Model</h1>
  <pre>Contact : {{contactModel | json }}</pre>
  <pre>Form is valid : {{contactForm.valid ? 'Yes' : 'No' }}</pre>
</div>